#top{

    width: 100%;
    height: 200px;
  
  
}



body{
    height: 100%; 
    background-image: url("img/cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 2s; 
    backdrop-filter: blur(5px);
  
}



img{
    width: 10%;
    height: auto;
    margin: 10px;
}

h1,h3{
    color: white;
}

#death{
    width: 0px;
    height: auto;
    margin: 0px;
    position: absolute;
    opacity: 1;
    transition: opacity 2s;
}

.imgBt{
    transition: width 1s;
}

.imgBt:hover{
    transition: width 1s;
    border: solid 1px #6610f2;
    border-radius: 50%;
    width: 13%;
}



.bottomLeftDev{
    position: relative;
    opacity:1;
    width:30%;
    transition: opacity 4s;
}

.bottomRightDev{
    position: relative;
    opacity:1;
   
    width:30%;
    transition: opacity 4s;
}


