body{
    
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    transition: background-image 0.5s;
    background-image: url("../images/nature.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
 
 
}

#bkFloor{
    height: 30px;
    background-image: url("../images/floor.jpeg");
    background-size: 20px ;
    background-repeat: repeat;
}

#sky{
    background-color: blue;
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
}

#marioPg{
    margin-top: 100px;
    transition: margin-left 0.5s , margin-top 0.5s;

}

li{
    color : white;

}


p{
    color: white;
    font-size: 20px;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.54rem;
    margin-top: 30px;
    color: #DBDFFD;
    padding-top: 50px;
    margin: auto;
}

h2{
    margin-top: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #66BFBF;
    font-weight: normal;
    transition: color 2s;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 2.54rem;
    color:#DBDFFD;
    margin: auto;
    
}

#title{
    color: black;
    transition: color 1s;
}


h4{
    color: #11999E;
    font-size: large;
    margin-top: 0;
    padding-top: 50px;
}


.bottomDiv{
    padding-top: 60px;
    margin-top: 200px;
    background-color: #d4f3e4;
    width: 50%;
    margin: auto;

}

.socialBottom{
    
    width: 60px;
    height: auto;
    border-radius: 100%;
}

