#top{

    width: 100%;

}

#mario{
   
    height: auto;
    margin: 0px;
    position: absolute;
   
    opacity: 1;
    transition: opacity 2s;
    opacity: 0;

}



body{
    height: 100%; 
    background-image: url("img/cover.webp");
    background-size: fill;
    background-repeat: no-repeat;
    transition: background-image 2s; 
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  
}



img{
    width: 10%;
    height: auto;
    margin: 10px;
}

h1,h3,h2{
    color: white;
}

#death{
    width: 0px;
    height: auto;
    margin: 0px;
    position: absolute;
    opacity: 1;
    transition: opacity 2s;
}

.imgBt{
    transition: width 1s;
}

.imgBt:hover{
    transition: width 1s;
    border: solid 1px #6610f2;
    border-radius: 50%;
    width: 13%;
}



.bottomLeftDev{
    position: relative;
    opacity:1;
    width:80%;
    height: auto;
    object-fit: contain;

   
}

.bottomRightDev{
    position: relative;
    opacity:1;
    width:80%;
    height: auto;
    object-fit: contain;

    
}

.divImgages{
   
    height: 50%;
    
}


